*{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.father{
  display: flex;
  justify-content: center;
}

.title{
  width: 60%;
}

h1{
  color: #2b90e3;
}

.searchGIFs{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-image: linear-gradient(90deg,#4cafff,#2e93e6);
}

input{
  padding: .2rem;
}

.search{
  width: 60%;
  height: 70%;
}

.filterGIFs{
  margin-top: 2%;
}

.filterTendency{
  margin-top: 10%;
}

.container2{
  width: 60%;
}

main{
  display: flex;
  justify-content: center;
  width: 100%;
}

.filterSalient{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

img {
  width: 100%; 
  height: auto; 
}

.filterTendecy{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

img {
  width: 100%; 
  height: 100%; 
}
